{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1 class="my-5 py-5 text-center">{{ title }}</h1>

    <form method="POST">
        <input name="_method" type="hidden" value="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="title">Vegetable title</label>
                <input id="title" name="title" type="text"
                       class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create vegetable</button>
    </form>

    <br>

    <ul>
        {% for id, vegetable in vegetables_data.items() %}
            <li class="d-flex justify-content-between">
                <div class="">{{ vegetable }}</div>
                <form method="POST">
                    <input name="_method" type="hidden" value="DELETE">
                    <input name="id" type="hidden" value="{{ id }}">

                    <button type="submit" class="btn btn-danger">x</button>
                </form>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}